include header
div
    h1(align='center') My tag is #{tag}
    br
    .slideshow-container
        .mySlides
            .numbertext 1 / 3
            iframe(src='https://guarded-scrubland-78590.herokuapp.com/giphy/' + tag)
        .mySlides
            .numbertext 2 / 3
            iframe(src='https://guarded-scrubland-78590.herokuapp.com/giphy/' + tag)
        .mySlides
            .numbertext 3 / 3
            iframe(src='https://guarded-scrubland-78590.herokuapp.com/giphy/' + tag)
        a.prev(onclick="plusSlides(-1)") &#10094;
        a.next(onclick="plusSlides(1)") &#10095;
    a.btn.btn-primary.btn-lg(href='gallery?tag=' + tag) Refresh my #{tag}
    script(type='text/javascript', src='/javascripts/slidder.js')
