script(type="application/ld+json")
    | {"@context": "http://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type": "ListItem","position": 1,"item": {"@id": "https://mysterious-forest-66057.herokuapp.com/","name": "Experiment central"}},{"@type": "ListItem","position": 2,"item": {"@id": "https://mysterious-forest-66057.herokuapp.com/gallery","name": "Gallery experiment"}}]}