doctype html
html
  head
    title Alejandro Gallery of trump giphy
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap CSS 
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
  body
    //
       Navigation Bar 
    .bodykinda
      .navbar.navbar-default
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            | 3 amigos, Trump, Trump, Trump
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='#') Home
            li
              a(href='gallery') Trump
      //
         Navigation Bar 
    .jumbotron
      h1 Trump Central
      p
        | You will be shown a gallery of 3 Trump giphys
      p
        a.btn.btn-primary.btn-lg(href='gallery') Get som Trump
    .col-lg-4
      .panel.panel-default
        .panel-heading
          h4  Trump Giphy
          a(href="https://guarded-scrubland-78590.herokuapp.com/giphy/trump") giphy Trump
        .panel-body
          | https://guarded-scrubland-78590.herokuapp.com/giphy/trump
    .col-lg-4
      .panel.panel-default
        .panel-heading
          h4 Passwords in English
          a(href="https://guarded-scrubland-78590.herokuapp.com/password") English
        .panel-body
          | https://guarded-scrubland-78590.herokuapp.com/password
      .panel.panel-default
        .panel-heading
          h4 Passwords in Spanish
          a(href="https://guarded-scrubland-78590.herokuapp.com/palabras") Spanish
        .panel-body
          | https://guarded-scrubland-78590.herokuapp.com/palabras
      .panel.panel-default
        .panel-heading
          h4 Passwords in German
          a(href="https://guarded-scrubland-78590.herokuapp.com/worts") German
        .panel-body
          | https://guarded-scrubland-78590.herokuapp.com/worts