include header
div
    .jumbotron
      h1 Experimet Central
      p
        | Get a giphy gallery or try my password API
      p
        a.btn.btn-primary.btn-lg(href='gallery?tag=trump') Get som Giphy
.col-lg-4
    .panel.panel-default
        .panel-heading
            h4  Trump Giphy
            a(href="https://guarded-scrubland-78590.herokuapp.com/giphy/trump" target="_blank") Trump giphy example
        .panel-body
            | https://guarded-scrubland-78590.herokuapp.com/giphy/trump
.col-lg-4
    .panel.panel-default
        .panel-heading
            h4 Passwords in English API
            a(href="https://guarded-scrubland-78590.herokuapp.com/password" target="_blank") English
        .panel-body
            | https://guarded-scrubland-78590.herokuapp.com/password
    .panel.panel-default
        .panel-heading
            h4 Passwords in Spanish API
            a(href="https://guarded-scrubland-78590.herokuapp.com/palabras" target="_blank") Spanish
        .panel-body
            | https://guarded-scrubland-78590.herokuapp.com/palabras
    .panel.panel-default
        .panel-heading
            h4 Passwords in German API
            a(href="https://guarded-scrubland-78590.herokuapp.com/worts" target="_blank") German
        .panel-body
            | https://guarded-scrubland-78590.herokuapp.com/worts
.col-lg-4
    .panel.panel-default
        .panel-heading
            h4 Passwords with special character
            a(href="https://guarded-scrubland-78590.herokuapp.com/api/password?number=5&language=palabras&special=true" target="_blank") Flexyble API
        .panel-body
            | https://guarded-scrubland-78590.herokuapp.com/api/password?number=5&language=palabras&special=true