include header
div
    .col-lg-4
        .panel.panel-default
            .panel-heading
                h4  Password
            .panel-body(id="password") #{password}
    .col-lg-4
        .panel.panel-default
            .panel-heading
                h4  Password generator
            .panel-body
            form(action="//guarded-scrubland-78590.herokuapp.com/api/password")
                p(align='center')
                    input(type="text" name="number" value="4")
                p(align='center')
                    input(type="text" name="language" value="palabras")
                p(align='center')
                        input(type="text" name="special" value="true")
                p(align='center')
                    input.btn.btn-primary.btn-lg(type="submit" value="Submit")