include header
div
    .col-lg-4
        .panel.panel-default
            .panel-heading
                h4  Password
            .panel-body(id="password" word-wrap="break-word") #{password}
    .col-lg-4
        .panel.panel-default
            .panel-heading
                h4  Password generator
            .panel-body
            form(id="data_input" action="/password")
                p(align='center')
                    input(id="num_of_word" type="text" name="number" value="4")
                p(align='center')
                    select(id="language" name="language")
                        option(value="palabras") spanish
                        option(value="words") english
                        option(value="worts") german
                p(align='center')
                    select(name="special" id="special_char" form="data_input")
                        option(value="true") true
                        option(value="false") false
                p(align='center')
                    input.btn.btn-primary.btn-lg(id="submit" type="submit" value="Submit")